<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rhomobile.rhodes"
    android:installLocation="auto"
    android:versionCode="37"
    android:versionName="3.3.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rhomobile.rhodes.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.rhomobile.rhodes.RhodesApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- Main activity -->
        <activity
            android:name="com.rhomobile.rhodes.RhodesActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="rhomobile.com"
                    android:pathPrefix="/com.rhomobile.rhodes"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rhomobile.rhodes.alert.PopupActivity"
            android:configChanges="orientation"
            android:screenOrientation="unspecified"
            android:theme="@style/PopupTheme" />
        <activity
            android:name="com.rhomobile.rhodes.camera.FileList"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.rhomobile.rhodes.camera.ImageCapture"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.rhomobile.rhodes.signature.ImageCapture"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.rhomobile.rhodes.datetime.DateTimePickerScreen"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.rhomobile.rhodes.mapview.MapView"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.rhomobile.rhodes.mapview.GoogleMapView"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.rhomobile.rhodes.bluetooth.RhoBluetoothDeviceListActivity"
            android:configChanges="orientation"
            android:screenOrientation="unspecified" />

        <receiver
            android:name="com.rhomobile.rhodes.PushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receive the actual message -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.rhomobile.rhodes" />
            </intent-filter>
            <!-- Receive the registration id -->
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.rhomobile.rhodes" />
            </intent-filter>
        </receiver>

        <service android:name="com.rhomobile.rhodes.RhodesService" />

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>